    // font-family: 'Open Sans', sans-serif;
	// font-family: 'Lato', sans-serif;

	body {
		font-family: 'Open Sans', sans-serif;
	}

	h1 {
		font-size: 80px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 30px;
	}

	// Header
	#home {
		h1, h2 {
			text-shadow: 2px 2px 0px $off-color;
			font-family: 'Lato', sans-serif;
		}
		
		.logo-container {
			font-family: 'Lato', sans-serif;
		}

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	// About
	#about {
		color: $off-color;

		h3 {
			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
		}

	}