    // font-family: 'Open Sans', sans-serif;
	// font-family: 'Lato', sans-serif;

	body {
		font-family: 'Open Sans', sans-serif;
	}

	h1 {
		font-size: 80px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 30px;
	}

	h4 {
		font-size: 20px;
	}

	p {
		font-weight: 300;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	// Header
	#home {
		h1, h2 {
			text-shadow: 2px 2px 0px $off-color;
			font-family: 'Lato', sans-serif;
		}
		
		.logo-container {
			font-family: 'Lato', sans-serif;
		}
	}

	// About
	#about {
		color: $off-color;

		h3 {
			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
		}
	}

	// Skills

	#skills {
		color: $primary-color;

		h3 {
			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
		}
	}

	// Portfolio

	#portfolio {
	color: $off-color;

		h3, h4 {
			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
		}

		.techs-used {
			font-size: 12px;
		}

	}