    // font-family: 'Open Sans', sans-serif;
	// font-family: 'Lato', sans-serif;

	body {
		font-family: 'Open Sans', sans-serif;
	}

	h1 {
		font-size: 80px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 30px;
	}

	h4 {
		font-size: 20px;
	}

	p {
		font-weight: 300;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	// Header
	#home {
		h1, h2 {
			text-shadow: 2px 2px 0px $off-color;
			font-family: 'Lato', sans-serif;
		}
		
		.logo-container {
			font-family: 'Lato', sans-serif;
		}

		ul {
			font-weight: 700;
			text-shadow: 2px 2px 0px $off-color;
		}
	}

	// About
	#about {
		color: $off-color;

		h3 {
			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
		}

		h4 {
			font-family: 'Lato', sans-serif;
			font-weight: 700;
		}

		p {
			line-height: 1.5;
		}
	}

	// Skills

	#skills {
		color: $primary-color;

		h3 {
			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
		}
	}

	// Portfolio

	#portfolio {
	color: $off-color;

		h3, h4 {
			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
		}

		.techs-used {
			font-size: 12px;
		}

		p {
			line-height: 1.5;
		}

	}

	#contact {
		input, textarea {
		color: $primary-color;
		font-family: 'Open Sans', sans-serif;
		}
		
		textarea {
			resize: none;
		}

		h3, h4 {
			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
		}

		input::placeholder, textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: $primary-color;
			opacity: 0.5; /* Firefox */
			font-family: 'Open Sans', sans-serif;
		}
		
		a {
			font-weight: 300;
			line-height: 1.5;
		}

	}