// Variables

$primary-color: #fff;
$off-color: #000;

// Imports

@import "setup";
@import "typography";

// Global

body {
	color: $primary-color;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px;
}

// Extends

%title-container-style {
		width: 100%;
		margin-bottom: 50px;
		padding: 15px 0 15px 25px;
}

// Header

#home {
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/bw-splash.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	.wrapper {
		height: 100vh;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	nav {
		position: absolute;
		width: 100%;
		padding: inherit; /* Solve the issue of absolute positioning not respecting padding. */
		top: 32px;
		left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	.logo-container, ul {
		display: flex;
		align-items: center;
	}

	li, .name {
		margin-left: 25px;
	}

	.first-name {
		font-weight: 300;
	}
	.last-name {
		font-weight: 700;
	}

	.logo {
		width: 60px;
		height: 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 2px solid $primary-color;
		border-radius: 50%;
	}

	h2 {
		line-height: 100px;	
	}

}

// About

#about {
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		padding: 50px 20px 80px 20px;
	}
	
	.title-container {
		@extend %title-container-style;
		border-left: 3px solid $off-color;
	}

	.image-container {
		width: 40%;

		img {
			width: 100%;
			display: block;
		}
	}

	.about-text-container {
		width: 60%;
		padding-left: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.about-text {
		margin-top: 35px;
	}

	h4 {
		font-family: Lato;
		color: rgba(75, 78, 83, 1);
		font-size: 24px;/* Approximation due to font substitution */
		font-weight: 700;
	}
}

// Skills

#skills {
	background: $off-color;

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		padding: 50px 20px 80px 20px;
	}

	.title-container {
		@extend %title-container-style;
		border-left: 3px solid $primary-color;
		margin-bottom: 0px;
	}

	& i {
		font-size: 100px;
		display: block;
	}

	.icon-container {
		width: 20%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 50px;

		img {
			width: 100px;
			height: 100px;
		}
	}
}

// Portfolio

// #portfolio {
// 	.wrapper {
// 		display: flex;
// 		justify-content: center;
// 		flex-wrap: wrap;
// 		padding: 50px 20px 80px 20px;
// 	}	
	
// 	.title-container {
// 		@extend %title-container-style;
// 		border-left: 3px solid $off-color;
// 	}

// 	img {
// 		max-width: 100%;
// 	}

// 	img:first-of-type {
// 		border: 1px solid black
// 	}

// 	.project-container {
// 		width: calc(100%/3 - 20px);
// 	}

// 	.middle {
// 		margin: 0 30px;
// 	}

// 	h4 {
// 		margin: 30px 0 10px 0;
// 	}

// 	.techs-used {
// 		margin-bottom: 30px;
// 	}
// }

#portfolio {
	.wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 50px 20px 80px 20px;
		& > * {
			width: 100%;
		}
	}
	
	.images, .titles, .techs, .text, .links {
		display: flex;
		justify-content: center;
	}

	.titles .middle, .techs .middle, .text .middle, .links .middle {
		margin: 0 20px;
	}

	.titles div, img, .techs p, .text p, .links a {
		width: 100%;
	}

	.links {
		margin-top: 25px;
		text-align: right;
	}

	img {
		&:first-of-type {
			border: 1px solid black;
		}

		&:nth-of-type(2) {
			margin: 0 20px;
		}
	}
}