// Variables

$primary-color: #fff;
$off-color: #323232;

// Imports

@import "setup";
@import "typography";

// Global

body {
	color: $primary-color;
	position: relative;
	background: linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,0.5)), url(../images/bw-splash.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-width: 320px; /* Minimum width */
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px;
}

// Hamburger
.hamburger {
    cursor: pointer;
	display: none;
}

.line {
border-bottom: 4px solid $primary-color;
width: 35px;
margin-bottom: 6px;
}

.line:last-child {
margin-bottom: 0;
}

// Hover Effects
a {
	position: relative;
}

a:before {
	content: '';
	position: absolute;
	transition: transform .2s ease;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 1px;
	background: $primary-color;
	transform:  scaleX(0);
}

a:hover:before {
	transform:  scaleX(1);
}

input[type="submit"]:hover {
	cursor: pointer;
}

// Extends

%title-container-style {
		width: 100%;
		margin-bottom: 50px;
		padding: 15px 0 15px 25px;
}

// Header

#home {

	.wrapper {
		height: 100vh;
		min-height: 320px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	nav {
		position: absolute;
		width: 100%;
		padding: inherit; /* Solve the issue of absolute positioning not respecting padding. */
		top: 32px;
		left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	.logo-container, ul {
		display: flex;
		align-items: center;
	}

	li, .name {
		margin-left: 25px;
	}

	.first-name {
		font-weight: 300;
	}
	.last-name {
		font-weight: 700;
	}

	.logo {
		width: 60px;
		height: 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 2px solid $primary-color;
		border-radius: 50%;
	}

	h2 {
		margin-top: 25px;	
	}

}

// About

#about {
	background: #fff;

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		padding: 50px 20px 80px 20px;
	}
	
	.title-container {
		@extend %title-container-style;
		border-left: 3px solid $off-color;
	}

	.image-container {
		width: 40%;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 100%;
			display: block;
		}
	}

	.about-text-container {
		width: 60%;
		padding-left: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.about-text {
		margin-top: 25px;
	}
}

// Skills

#skills {
	background: $off-color;

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		padding: 50px 20px 80px 20px;
	}

	.title-container {
		@extend %title-container-style;
		border-left: 3px solid $primary-color;
		margin-bottom: 0px;
	}

	& i {
		font-size: 100px;
		display: block;
	}

	.icon-container {
		width: calc(100%/6);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 50px;

		img {
			width: 100px;
			height: 100px;
		}
	}
}

// Portfolio

#portfolio {
	background: #fff;

	.wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 50px 20px 80px 20px;
	}	
	
	.title-container {
		@extend %title-container-style;
		border-left: 3px solid $off-color;
	}

	img {
		max-width: 100%;
		display: block;
		border: none;
		transition: all 0.2s;
	}

	.left img {
		border: 1px solid black;
	}

	.project-container {
		width: calc(100% / 3 - 20px);
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;

		& > * {
			width: 100%;
		}
	}

	h4 {
		margin: 25px 0 10px 0;
	}

	.techs-used {
		margin-bottom: 25px;
	}

	.link-container {
		margin-top: 25px;
		text-align: right;
	}

	a {
		text-transform: uppercase;
	}

	a:before {
		background: $off-color;
	}
}

#contact {
	background: $off-color;

	.wrapper {
		padding: 50px 20px 80px 20px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.middle {
		width: 100%;
		display: flex;
		justify-content: flex-start;
	}

	.title-container {
		@extend %title-container-style;
		border-left: 3px solid $primary-color;
	}

	.image-container { 
		display: flex;
		justify-content: left;
		align-items: center;
		margin-right: 25px;
	}

	.text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	img {
		max-width: 50px;
	}

	form {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 50px;
	}

	input, textarea {
		border: none;
		margin: 0;
		padding: 0;
		background: transparent;
	}

	textarea {
		width: calc(50% - 15px);
		border: 1px solid $primary-color;
		height: 100%;
		padding: 1% 2.5%;
	}

	.inputs {
		width: calc(50% - 15px);
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
	}

	.inputs > * {
		width: 100%;
		height: 50px;
		border-bottom: 1px solid $primary-color;
		padding-left: 5%;
		padding-top: 10px;
	}

	input[type="submit"] {
		padding: 0;
		margin: 50px 0;
		border: 1px solid $primary-color;
		color: $primary-color;
		text-transform: uppercase;
	}

}

@import "mediaqueries";